.PG_CADASTRO input,.PG_LOGIN input, .btn-user{
    border-radius: 50px;
}
.bg-register-image {
    background: url("../..//Midia/register.jpg");
    background-position: center;
    background-size: cover;
}
.bg-login-image{
    background: url("../..//Midia/login.jpg");
    background-position: center;
    background-size: cover;
}
.bg-password-image{
    background: url("../..//Midia/forget.jpg");
    background-position: center;
    background-size: cover;
}

#login{
    display: block;
    width: 100%;
    height: 100%;
}
#cadastro{
    display: none;
    width: 100%;
    height: 100%;
}
#forgetsenha{
    display: none;
    width: 100%;
    height: 100%;
}
.home-section label{
    color: #0000ff;
}
